package templates

templ Test() {
	<a href="/" class="relative inline-flex">
		<div
			class="absolute z-10 animate-ping-slow transitiona-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-blue-500 via-blue-300 to-blue-50 rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt"
		></div>
		<img class="w-[20rem] z-20 rounded-lg shadow-sm" src="/static/assets/thumps-up.gif" alt="thumps up gif" width="20rem"/>
	</a>
}
